.lugar{
	text-align: center; 
	text-transform: capitalize;
}

.panel{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  	/*height: 290px;*/
  	text-align: center;
}

.btn-info {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	
}

.btn-info a{
	text-decoration: none; 
	color: white;
}

.opcao{
	margin-top: 20px; 
	padding-bottom: 15px;
}

#detalhes{
	padding-right: 20px; 
	padding-left: 20px;
}

.valor{
	color: #52ADE0;
}